## Questão de Negócio

A empresa Star Jeans! Eduardo e Marcelo são dois brasileiros, amigos e sócios de empreendi-
mento. Depois de vários negócio bem sucedidos, eles estão planejando entrar no mercado de moda
dos USA como um modelo de negócio do tipo E-commerce.
A idéia inicial é entrar no mercado com apenas um produto e para um público específico, no caso
o produto seria calças Jenas para o público masculino. O objetivo é manter o custo de operação
baixo e escalar a medida que forem conseguindo clientes.
Porém, mesmo com o produto de entrada e a audiência definidos, os dois sócios não tem experiência
nesse mercado de moda e portanto não sabem definir coisas básicas como preço, o tipo de calça e
o material para a fabricação de cada peça.
Assim, os dois sócios contrataram uma consultoria de Ciência de Dados para responder as seguintes
perguntas: 

1. Qual o melhor preço de venda para as calças? 

2. Quantos tipos de calças e suas
cores para o produto inicial? 

3. Quais as matérias-prima necessárias para confeccionar as calças?

Obs.: As principais concorrentes da empresa Start Jeans são as americadas H&M e Macys.

# Import Librarys

In [30]:
!pip3 install sqlite3

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [31]:
import sqlite3
import pandas as pd


from sqlalchemy import create_engine

In [50]:
df1 = pd.read_csv( '../data/data_raw_clean.csv')

In [32]:
df.dtypes

Unnamed: 0            int64
product_id            int64
product_category     object
product_name         object
product_price       float64
scrapy_datetime      object
style_id              int64
color_id              int64
color_name           object
fit                  object
size_number         float64
size_model           object
cotton              float64
spandex             float64
polyester           float64
elastomultiester    float64
dtype: object

In [51]:
df1.head()

,Unnamed: 0,product_id,product_category,product_name,product_price,scrapy_datetime,style_id,color_id,color_name,fit,size_number,size_model,cotton,spandex,polyester,elastomultiester
0,0,1024256001,men_jeans_slim,slim_jeans,19.99,2022-04-19 13:17:23,1024256,1,denim_blue,slim_fit,188.0,size 31/32,0.99,0.01,0.0,0.0
1,1,1024256002,men_jeans_slim,slim_jeans,19.99,2022-04-19 13:17:23,1024256,2,denim_blue,slim_fit,188.0,size 31/32,0.99,0.01,0.0,0.0
2,2,938875002,men_jeans_slim,slim_tapered_jeans,39.99,2022-04-19 13:17:23,938875,2,light_denim_blue,slim_fit,187.0,size 31/32,0.98,0.02,0.0,0.0
3,3,938875002,men_jeans_slim,slim_tapered_jeans,39.99,2022-04-19 13:17:23,938875,2,white,slim_fit,187.0,size 31/32,0.98,0.02,0.0,0.0
4,4,938875002,men_jeans_slim,slim_tapered_jeans,39.99,2022-04-19 13:17:23,938875,2,dark_gray,slim_fit,187.0,size 31/32,0.98,0.02,0.0,0.0

## Query Creating

In [71]:
query_showroom_schema = """
    CREATE TABLE showroom (
        product_id        INTEGER,
        product_category  TEXT,
        product_name      TEXT,
        product_price     REAL,
        scrapy_datetime   TEXT,
        style_id          INTEGER,
        color_id          INTEGER,
        color_name        TEXT,
        fit               TEXT,
        size_number       REAL,
        size_model        TEXT,
        cotton            REAL,
        spandex           REAL,
        polyester         REAL,
        elastomultiester  REAL    
    )
"""

# Creating to Data Bank

In [72]:
# Conect to dataset
conn = sqlite3.connect ('starjeans_db.sqlite')
cursor = conn.execute(query_showroom_schema)
conn.commit()
conn.close()

In [73]:
# rm hm_db.sqlite #→ remove o banco de dados

# Read to db

In [74]:
from sqlalchemy import create_engine

In [85]:
conn = create_engine( 'sqlite:///starjeans_db.sqlite', echo=False )

In [86]:
query = """
    SELECT * FROM showroom_hm
"""
df = pd.read_sql_query( query, conn )
df.head() #unpopulated table

,product_id,product_category,product_name,product_price,scrapy_datetime,style_id,color_id,color_name,fit,size_number,size_model,cotton,spandex,polyester,elastomultiester
0,1024256001,men_jeans_slim,slim_jeans,19.99,2022-04-19 13:17:23,1024256,1,denim_blue,slim_fit,188.0,size 31/32,0.99,0.01,0.0,0.0
1,1024256002,men_jeans_slim,slim_jeans,19.99,2022-04-19 13:17:23,1024256,2,denim_blue,slim_fit,188.0,size 31/32,0.99,0.01,0.0,0.0
2,938875002,men_jeans_slim,slim_tapered_jeans,39.99,2022-04-19 13:17:23,938875,2,light_denim_blue,slim_fit,187.0,size 31/32,0.98,0.02,0.0,0.0
3,938875002,men_jeans_slim,slim_tapered_jeans,39.99,2022-04-19 13:17:23,938875,2,white,slim_fit,187.0,size 31/32,0.98,0.02,0.0,0.0
4,938875002,men_jeans_slim,slim_tapered_jeans,39.99,2022-04-19 13:17:23,938875,2,dark_gray,slim_fit,187.0,size 31/32,0.98,0.02,0.0,0.0

In [77]:
# insert data to table
data.to_sql( 'showroom', con=conn, if_exists='append', index=False )
#Append → preenche a tabela montando linha a linha
#Overrite → subsecreve os dados

In [84]:
# commando update (alterar o valor de uma linha)
#query = """
#    UPDATE showroom
#    SET product_category = 'tshirt'
#    WHERE product_id == 1024256002
#"""

#command = DROP
#query = """
#    DROP TABLE showroom
#"""

##Command ALTER TABLE (renomear o nome da tabela)
#query = """
#    ALTER TABLE showroom
#    RENAME to showroom_hm
#"""

# Commando CREATE INDEX (agilidade na busca de dados)
query = """
    CREATE INDEX idx_product_id
    ON showroom_hm ( product_id )
"""



# Sempre que for executar um update no tabela 
# primeiro refazer a conexão
conn = sqlite3.connect ('starjeans_db.sqlite')
cursor = conn.execute(query)
conn.commit()
conn.close()

In [78]:
.head()

,product_id,product_category,product_name,product_price,scrapy_datetime,style_id,color_id,color_name,fit,size_number,size_model,cotton,spandex,polyester,elastomultiester
1,1024256002,men_jeans_slim,slim_jeans,19.99,2022-04-19 13:17:23,1024256,2,denim_blue,slim_fit,188.0,size 31/32,0.99,0.01,0.0,0.0